.divisionContainer {
  display:inline-block;
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 2rem 1rem;
  width: 30%;
}

.divisionContainer h2 {
  margin: 0 0 1rem;
  text-align: center;
}

.divisionContainer ul {
  margin: 0 1rem;
}

.divisionContainer ul li {
  margin: 0.2rem;
}