body {
  background-color: var(--background);
  color: var(--forground);
  max-width: 100vw;
}

nav {
  background-color: var(--forground);
  color: var(--forground);
}

img {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
