/* # > div { */
div[id^="story--"] > div {
  background-color: var(--background);
  color: var(--foreground);
}

 div[id^="story--"] > div > [data-theme="dark"]{
  background-color: var(--background);
  color: var(--foreground);
}