.table {
  margin: 0 auto;
}

.table th, .table td {
  padding: 0.5rem;
}

.table th {
  /* background: hsl(0 0% 0% / 0.5); */
  background: var(--background);
  text-align: left;
}

.table tr:nth-of-type(2n) {
  /* background: hsl(0 0% 0% / 0.05); */
  background: var(--foreground);
}